<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edurate.alifailaan.com.edurate">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".EduRateSplash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EduRateSelectCity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".EduRateSelectSchool"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".EduRateSchoolDetail"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".EduRateFacilityListView"></activity>

    </application>


</manifest>
